legend{
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-weight: 500;
    letter-spacing: 0.5px;
}
h1{
    text-align: center;
    text-shadow: 500px;
}
.myDiv{
    background-color: rgb(39, 41, 41);    
    padding-left: 50px;
    color: white;
    border-radius: 10px;
}
.outerDiv{
    padding-left: 400px;
    padding-right: 400px;
    
  }
  body {
    font-family: sans-serif;
    
    background-image: url('image/faq_background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
  }
  footer{
    padding: 22px;
    background-color: rgb(17, 177, 206);
  }